<!DOCTYPE html>
<html lang="en">

<head>
  {{ template "static" }}
  <link href="/static/styles/index.css" rel="stylesheet">
  {{ template "meta-tags-static" }}
</head>

<body>
  {{ template "header" }}

  <div class="container">
    {{ template "post-form" .FormData }}

    <div id="" class="row row-cols-auto gy-4 mb-4 justify-content-center">
      {{ range $Post := .Threads }}
      {{ template "thread-card" $Post }}
      {{ end }}
    </div>

    <div class="col col-12">
      <nav aria-label="Page navigation">
        <ul id="pagesList" class="pagination justify-content-center">
          {{ $ActivePage := .Page }}
          {{ range $i := Iterate .PagesCount }}
          <li class="page-item {{ if (eq $i $ActivePage) }} active {{ end }}">
            <a class="page-link" href="/?page={{ $i }}">{{ $i }}</a>
          </li>
          {{ end }}
        </ul>
      </nav>
    </div>
  </div>

  {{ template "footer" }}
</body>

</html>