<html lang="en">
<head>
  {{ template "static" }}
  <link 
    href="/static/styles/error-image.css" 
    rel="stylesheet" 
  >

  {{ template "meta-tags-static" }}
</head>

<body>
  <div class="h-100 d-flex justify-content-center align-items-center flex-column">
    <h1>400</h1>
    <h1>{{ .Message }}</h1>
    <a href="/" class="error-image-link">
      <img
        class="error-image"
        src="/static/images/errors/404.png"
        alt="Bad request"
      >
    </a>
  </div>
</body>

</html>