.post-container {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.post-info-container {
  margin-bottom: 10px;
  color: #6c757d;
}

.files-container {
  display: flex;
  margin-bottom: 10px;
}

.file-container {
  max-width: 5rem;
}

.file {
  width: 100%;
}
